
	<h1>Bahch Children URL</h1>
	<form action="batchParseUrl" method="POST">
		<textarea name="urls" rows="20" cols="100"></textarea>
		<input type="submit"/>
	</form>
	
	
	<h1>Bahch Children List URL</h1>
	<form action="batchParseListUrl" method="POST">
		<textarea name="urls" rows="20" cols="100"></textarea>
		<input type="submit"/>
	</form>
