<script type="text/javascript">
	$(function() {
		$('#datagrid').datagrid({  
			title:'小蝌蚪管理',
		    url:'childrenList',  
		    fitColumns : true,
		    toolbar :[
		    	{
		    		text: '添加',
		    		iconCls: 'icon-add',
		    		handler: function(){add();}
		    	},'-',
		    	{
		    		text: '批量显示',
		    		iconCls: 'icon-ok',
		    		handler: function(){show(true);}	
		    	},
		    	{
		    		text: '批量不显示',
		    		iconCls: 'icon-no',
		    		handler: function(){show(false);}	
		    	},"-",
		    	{
		    		text: '批量刷新',
		    		iconCls: 'icon-reload',
		    		handler: function(){refreshAll();}
		    	},"-"
		    ],
		    columns:[[  
		        {field:'realname',title:'真实姓名',width:150}, 
		        {field:'sex',title:'性别',width:50,align:'center',
		        	formatter:function(value,row,index){
		        		if(value == 0){
		        			return "男";
		        		}else{
		        			return "女";
		        		}
		        	}
		        }, 
		        {field:'pic',title:'照片',width:50,align:'center',
		        	formatter:function(value,row,index){
		        		if(value == ""){
							return "无";		        			
		        		}else{
		        			return "<img src='"+value+"' style='width:50px;height:50px;'/>";
		        		}
		        	}
		        }, 
		       {field:'birthday',title:'出生年月',width:100,align:'center'},
		       {field:'lost_time',title:'丢失时间',width:100,align:'center'},
		       {field:'height',title:'身高',width:100,align:'center'},
		       {field:'info_from_url',title:'数据来源',width:50,align:'center',
		    	   formatter:function(value,row,index){
		    		   return '<a href="'+value+'" target="_blank">'+row.info_from+'</a>';
		    	   }
		       },
		       {field:'is_show',title:'显示',width:50,align:'center',
		        	formatter:function(value,row,index){
		        		var a = '<img src="/easyui/themes/icons/ok.png"/>';
			        	if(value == 0)
			        	{
			        		a = '<img src="/easyui/themes/icons/no.png"/>';
			        	}
		        		return a;
		        	}
		        },
		       {field:'action',title:'操作',width:50,align:'center',
		        	formatter:function(value,row,index){
		        		var a = "<a href='javascript:del();'>删除</a> ";
		        		var b = "<a href='javascript:refresh();'>刷新</a> ";
		        		return a + " " + b;
		        	}
		        },
		        {field:'checkbox',title:'',width:100,align:'center',checkbox:true},
		    ]],
			pagination:true,
			rownumbers:true,
			pageSize:10,
			onDblClickRow:function(rowIndex, rowData){
				edit(rowData);
			}
		});  
		
		$("#ss").appendTo('.datagrid-toolbar');
		$('#ss').searchbox({  
		    searcher:function(value,name){  
		    	var param = {"realname":value};
		    	$('#datagrid').datagrid('load',param);
		    },  
		    menu:'#mm',  
		    prompt:'请输入查询内容'  
		});  
		
		
	});
	
	function refresh(){
		var row = $('#datagrid').datagrid('getSelected');
		if(row){
			$('#datagrid').datagrid('loading');
			$.ajax({
				type: "POST",
				url: "childRefresh?ids="+row.id,
				dataType : "json",
				success: function(result){
					$('#datagrid').datagrid('loaded');
					if (result.result == "success"){
						$('#datagrid').datagrid('reload');
					}else{
						$.messager.show({
							title: '出错啦!',
							msg: result.message
						});
					}
				}
			});		
		}
	}
	
	function refreshAll(){
		var ids = getSelectIds();
		if(ids == ""){
			$.messager.alert("警告","请选择批量处理的项目");
			return false;
		}

		$('#datagrid').datagrid('loading');
		$.ajax({
			type: "POST",
			url: "childRefresh?ids="+ids,
			dataType : "json",
			success: function(result){
				$('#datagrid').datagrid('loaded');
				if (result.result == "success"){
					$('#datagrid').datagrid('reload');
				}else{
					$.messager.show({
						title: '出错啦!',
						msg: result.message
					});
				}
			}
		});
	}
	
	function add(){
		$('#dialog').dialog('open').dialog('setTitle','添加小蝌蚪');
		$('#fm').form('clear');
	}
	
	function edit(row) {
	    $('#dialog').dialog('open').dialog('setTitle','修改小蝌蚪');
		$('#fm').form('load',row);
	}
	
	function del() {
		$.messager.confirm('删除小蝌蚪','你确定要删除这个小蝌蚪吗?',function(r){
		    if (r){ 
		    	var row = $('#datagrid').datagrid('getSelected');
				$.getJSON('childDel',{'id':row.id},function(data){
					if(data.result=="success"){
						$('#datagrid').datagrid('reload');
					}else{
		        		$.messager.show({
		        			title: '出错啦!',
		        			msg: data.message
		        		});
					}
				});
		    }  
		});
	}
	
	
	function getSelectIds(){
		var selected = $('#datagrid').datagrid('getSelections');
		var ids = "";
		$.each(selected,function(i,n){
			if(ids != ""){
				ids += ",";
			}
			ids += n.id;
		})
		return ids;
	}
	
	function show(is_show){
		var ids = getSelectIds();
		if(ids == ""){
			$.messager.alert("警告","请选择批量处理的项目");
			return false;
		}
		$('#datagrid').datagrid('loading');
		$.ajax({
			type: "POST",
			url: "childShow",
			data : "ids="+ids+"&is_show="+is_show,
			dataType : "json",
			success: function(result){
				$('#datagrid').datagrid('reload');
				if (result.result == "success"){
					$('#datagrid').datagrid('reload');
				}else{
					$.messager.show({
						title: '出错啦!',
						msg: result.message
					});
				}
			}
		});
	}
	
	function post(){
		var id = $("input[name=id]").val();
		var submit_url = 'childNew';
		if(id!=''){
			submit_url = 'childUpdate';
		}
		//提交表单
		$('#fm').form('submit',{
			url: submit_url,
			onSubmit: function(){
				return $(this).form('validate');
			},
			success: function(result){
				var result = eval('('+result+')');
				if (result.result == "success"){
					$('#dialog').dialog('close');
					$('#datagrid').datagrid('reload');
				}else{
					$.messager.show({
						title: '出错啦!',
						msg: result.message
					});
				}
			}
		});
	}
	
</script>

<table id="datagrid"></table>
<!-- 搜索 -->
<input id="ss"></input>  
<div id="mm" style="width:120px">  
	<div data-options="name:'realname'">真实姓名</div>  
</div>  

<!-- 新增/编辑 -->
<div id="dialog" class="easyui-dialog" style="width:600px;height:500px;padding:20px;" closed="true" buttons="#dlg-buttons">
	<form id="fm" method="post" novalidate action="#">
	    <input type="hidden" name="id"/>
		<div class="fitem">
			<label>真实姓名</label>
			<input id="name" name="realname" class="easyui-validatebox txt_fm_mmp" required="true"></input>
		</div>
		<div class="fitem">
			<label>性别</label>
			<select id="sel_sex" name="sex" class="easyui-combobox  easyui-validatebox" required="true">
				<option value="0">男</option>
				<option value="1">女</option>
			</select>
		</div>
		<div class="fitem">
			<label>照片</label>
			<input id="pic" name="pic" class="easyui-validatebox txt_fm_mmp" required="true" validType="url"></input>
		</div>
		<div class="fitem">
			<label>出生年月</label>
			<input id="birthday" name="birthday" class="easyui-validatebox txt_fm_mmp"  onClick="WdatePicker()"> </input>
		</div>
		<div class="fitem">
			<label>丢失时间</label>
			<input id="lost_time" name="lost_time" class="easyui-validatebox txt_fm_mmp" required="true" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"> </input>
		</div>
		<div class="fitem">
			<label>丢失地点</label>
			<input id="lost_addr" name="lost_addr" class="easyui-validatebox txt_fm_mmp" required="true"> </input>
		</div>
		<div class="fitem">
			<label>身高</label>
			<input id="height" name="height" class="easyui-validatebox txt_fm_mmp" required="true"> </input>
		</div>
		<div class="fitem">
			<label>是否显示</label>
			<select id="sel_is_show" name="is_show" class="easyui-combobox  easyui-validatebox" required="true">
				<option value="1">显示</option>
				<option value="0">不显示</option>
			</select>
		</div>
		<div class="fitem">
			<label>特征</label>
			<input id="tezheng" name="tezheng" class="easyui-validatebox txt_fm_mmp" required="true"> </input>
		</div>
		<div class="fitem">
			<label>备注</label>
			<textarea id="remark" name="remark" class="easyui-validatebox txt_fm_mmp" required="true" rows="" cols=""></textarea>
		</div>
	</form>
</div>
<div id="dlg-buttons">
	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" onclick="post()">提交</a>
	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dialog').dialog('close')">取消</a>
</div>

