<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>小蝌蚪后台管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="/css/bootstrap.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">小蝌蚪后台管理</a>
			<ul class="nav">
				<li class="active"><a href="#">小蝌蚪</a></li>
				<li><a href="#">系统设置</a></li>
				<li><a href="#">JOB</a></li>
			</ul>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>姓名</th>
				<th>性别</th>
				<th>照片</th>
				<th>数据来源</th>
				<th>出生年月</th>
				<th>丢失时间</th>
				<th>详情</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>1</td>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
		</tbody>
	</table>
	<div class="pagination">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div>
</body>
</html>
